@model Kategori

<form asp-action="Create" method="post" class="form-group">
	<div>
		<label>Kategori Adı</label>
		<input asp-for="Ad" class="form-control" />
	</div>
	
	<button type="submit" class="btn btn-success"> Kategori Ekle</button>
</form>
